<?xml version="1.0" encoding="utf-8" ?>
<!--复制此文档各种Ioc定义方式到需要的地方-->
<objects xmlns="http://www.springframework.net">

  <object name="device" type="TimeLapseSimulator.Device.Device, TimeLapseSimulator">
    <property name="Slides">
      <list>
        <ref object="slide1" />
        <ref object="slide2" />
        <ref object="slide3" />
        <ref object="slide4" />
        <ref object="slide5" />
      </list>
    </property>
    <property name="oxygen" ref="oxygen"/>
    <property name="carbonDioxide" ref="carbonDioxide"/>
    <property name="temperature" ref="temperature"/>
    <property name="humidity" ref="humidity"/>
  </object>

  <!--环境参数 begin-->
  <object name="oxygen" type="TimeLapseSimulator.Device.Oxygen, TimeLapseSimulator">
    <property name="Concentration" value="50.0"/>
  </object>

  <object name="carbonDioxide" type="TimeLapseSimulator.Device.CarbonDioxide, TimeLapseSimulator">
    <property name="Concentration" value="40.0"/>
  </object>

  <object name="temperature" type="TimeLapseSimulator.Device.Temperature, TimeLapseSimulator">
    <property name="Value" value="27.0"/>
  </object>

  <object name="humidity" type="TimeLapseSimulator.Device.Humidity, TimeLapseSimulator">
    <property name="Value" value="40.5"/>
  </object>
  <!--环境参数 end-->
  
  <object name="slide1" type="TimeLapseSimulator.Device.Slide, TimeLapseSimulator">
    <property name="ID" value="1"/>
    <property name="Name" value="Slide1"/>
    <property name="PlateRows" value="5"/>
    <property name="PlateColumns" value="3"/>
    <property name="Patient">
      <object type="TimeLapseSimulator.Device.Patient, TimeLapseSimulator" >
        <property name="ID" value="1"/>
        <property name="Name" value="P1"/>
        <property name="Time" value="2017/04/23 22:04:11"/>
      </object>
    </property>
    <property name="Position">
      <object type="TimeLapseSimulator.Device.Position, TimeLapseSimulator" >
        <property name="Row" value="1"/>
        <property name="Column" value="1"/>
      </object>
    </property>
    <property name="Cells">
      <list>
        <ref object="S1_Cell1" />
        <ref object="S1_Cell2" />
        <ref object="S1_Cell3" />
        <ref object="S1_Cell4" />
        <ref object="S1_Cell5" />
        <ref object="S1_Cell6" />
        <ref object="S1_Cell7" />
        <ref object="S1_Cell8" />
        <ref object="S1_Cell9" />
        <ref object="S1_Cell10" />
        <ref object="S1_Cell11" />
        <ref object="S1_Cell12" />
        <ref object="S1_Cell13" />
        <ref object="S1_Cell14" />
        <ref object="S1_Cell15" />
      </list>
    </property>
  </object>

  <object name="slide2" type="TimeLapseSimulator.Device.Slide, TimeLapseSimulator">
    <property name="ID" value="2"/>
    <property name="Name" value="Slide2"/>
    <property name="PlateRows" value="5"/>
    <property name="PlateColumns" value="3"/>
    <property name="Patient">
      <object type="TimeLapseSimulator.Device.Patient, TimeLapseSimulator" >
        <property name="ID" value="2"/>
        <property name="Name" value="P2"/>
        <property name="Time" value="2017/04/23 20:04:11"/>
      </object>
    </property>
    <property name="Position">
      <object type="TimeLapseSimulator.Device.Position, TimeLapseSimulator" >
        <property name="Row" value="1"/>
        <property name="Column" value="2"/>
      </object>
    </property>
    <property name="Cells">
      <list>
        <ref object="S2_Cell1" />
        <ref object="S2_Cell2" />
        <ref object="S2_Cell3" />
        <ref object="S2_Cell4" />
        <ref object="S2_Cell5" />
        <ref object="S2_Cell6" />
        <ref object="S2_Cell7" />
        <ref object="S2_Cell8" />
        <ref object="S2_Cell9" />
        <ref object="S2_Cell10" />
        <ref object="S2_Cell11" />
        <ref object="S2_Cell12" />
        <ref object="S2_Cell13" />
        <ref object="S2_Cell14" />
        <ref object="S2_Cell15" />
      </list>
    </property>
  </object>

  <object name="slide3" type="TimeLapseSimulator.Device.Slide, TimeLapseSimulator">
    <property name="ID" value="3"/>
    <property name="Name" value="Slide3"/>
    <property name="PlateRows" value="5"/>
    <property name="PlateColumns" value="3"/>
    <property name="Patient">
      <object type="TimeLapseSimulator.Device.Patient, TimeLapseSimulator" >
        <property name="ID" value="3"/>
        <property name="Name" value="P3"/>
        <property name="Time" value="2017/04/23 22:04:11"/>
      </object>
    </property>
    <property name="Position">
      <object type="TimeLapseSimulator.Device.Position, TimeLapseSimulator" >
        <property name="Row" value="1"/>
        <property name="Column" value="3"/>
      </object>
    </property>
    <property name="Cells">
      <list>
        <ref object="S3_Cell1" />
        <ref object="S3_Cell2" />
        <ref object="S3_Cell3" />
        <ref object="S3_Cell4" />
        <ref object="S3_Cell5" />
        <ref object="S3_Cell6" />
        <ref object="S3_Cell7" />
        <ref object="S3_Cell8" />
        <ref object="S3_Cell9" />
        <ref object="S3_Cell10" />
        <ref object="S3_Cell11" />
        <ref object="S3_Cell12" />
        <ref object="S3_Cell13" />
        <ref object="S3_Cell14" />
        <ref object="S3_Cell15" />
      </list>
    </property>
  </object>

  <object name="slide4" type="TimeLapseSimulator.Device.Slide, TimeLapseSimulator">
    <property name="ID" value="4"/>
    <property name="Name" value="Slide4"/>
    <property name="PlateRows" value="5"/>
    <property name="PlateColumns" value="3"/>
    <property name="Patient">
      <object type="TimeLapseSimulator.Device.Patient, TimeLapseSimulator" >
        <property name="ID" value="4"/>
        <property name="Name" value="P4"/>
        <property name="Time" value="2017/04/24 22:04:11"/>
      </object>
    </property>
    <property name="Position">
      <object type="TimeLapseSimulator.Device.Position, TimeLapseSimulator" >
        <property name="Row" value="1"/>
        <property name="Column" value="1"/>
      </object>
    </property>
    <property name="Cells">
      <list>
        <ref object="S4_Cell1" />
        <ref object="S4_Cell2" />
        <ref object="S4_Cell3" />
        <ref object="S4_Cell4" />
        <ref object="S4_Cell5" />
        <ref object="S4_Cell6" />
        <ref object="S4_Cell7" />
        <ref object="S4_Cell8" />
        <ref object="S4_Cell9" />
        <ref object="S4_Cell10" />
        <ref object="S4_Cell11" />
        <ref object="S4_Cell12" />
        <ref object="S4_Cell13" />
        <ref object="S4_Cell14" />
        <ref object="S4_Cell15" />
      </list>
    </property>
  </object>

  <object name="slide5" type="TimeLapseSimulator.Device.Slide, TimeLapseSimulator">
    <property name="ID" value="5"/>
    <property name="Name" value="Slide5"/>
    <property name="PlateRows" value="5"/>
    <property name="PlateColumns" value="3"/>
    <property name="Patient">
      <object type="TimeLapseSimulator.Device.Patient, TimeLapseSimulator" >
        <property name="ID" value="5"/>
        <property name="Name" value="P5"/>
        <property name="Time" value="2017/04/24 22:04:11"/>
      </object>
    </property>
    <property name="Position">
      <object type="TimeLapseSimulator.Device.Position, TimeLapseSimulator" >
        <property name="Row" value="2"/>
        <property name="Column" value="4"/>
      </object>
    </property>
    <property name="Cells">
      <list>
        <ref object="S5_Cell1" />
        <ref object="S5_Cell2" />
        <ref object="S5_Cell3" />
        <ref object="S5_Cell4" />
        <ref object="S5_Cell5" />
        <ref object="S5_Cell6" />
        <ref object="S5_Cell7" />
        <ref object="S5_Cell8" />
        <ref object="S5_Cell9" />
        <ref object="S5_Cell10" />
        <ref object="S5_Cell11" />
        <ref object="S5_Cell12" />
        <ref object="S5_Cell13" />
        <ref object="S5_Cell14" />
        <ref object="S5_Cell15" />
      </list>
    </property>
  </object>
</objects>