<?xml version="1.0" encoding="utf-8" ?>
<!--复制此文档各种Ioc定义方式到需要的地方-->
<objects xmlns="http://www.springframework.net">

  <object name="simulatorForm" type="TimeLapseSimulator.SimulatorForm, TimeLapseSimulator">
    <property name="device" ref="device"/>
    <property name="dbOperate" ref="dbOperate"/>
  </object>

  <object name="dbForm" type="TimeLapseSimulator.UI.DatabaseForm, TimeLapseSimulator"
          singleton="false">
    <property name="dbOperate" ref="dbOperate"/>
  </object>
</objects>