<?xml version="1.0" encoding="utf-8" ?>
<!--复制此文档各种Ioc定义方式到需要的地方-->
<objects xmlns='http://www.springframework.net'
  xmlns:db="http://www.springframework.net/database">

  <db:provider id="dbProvider" provider="MySql-5.2.3"
               connectionString="server=localhost;port=3306;database=TimelapseSimulator;uid=root;password=root"/>

  <object id="adoTemplate" type="Spring.Data.Generic.AdoTemplate, Spring.Data">
    <property name="DbProvider" ref="dbProvider"/>
  </object>

  <object id="mySqlConvertor" type="Summer.System.Data.VarietyDb.MySqlConvertor, Summer.System">
    <property name="provider" ref="dbProvider"/>
  </object>
  
  <object id="slideADO" type="TimeLapseSimulator.DataBase.ADO.SlideADO, TimeLapseSimulator">
    <property name="adoTmplte" ref="adoTemplate"/>
    <property name="convertor" ref="mySqlConvertor"/>
  </object>

  <object id="environmentADO" type="TimeLapseSimulator.DataBase.ADO.EnvironmentADO, TimeLapseSimulator">
    <property name="adoTmplte" ref="adoTemplate"/>
    <property name="convertor" ref="mySqlConvertor"/>
  </object>
  
  <object id="dbOperate" type="TimeLapseSimulator.DataBase.ADO.DBOperate, TimeLapseSimulator">
    <property name="provider" ref="dbProvider"/>
    <property name="adoTemplate" ref="adoTemplate"/>
    <property name="slideADO" ref="slideADO"/>
    <property name="environmentADO" ref="environmentADO"/>
    <property name="queryMode" value="ImagePath"/>
    <!--<constructor-arg ref="slideADO"/>-->
  </object>
</objects>