<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!-- Spring 配置文件 -->
    <configSections>
      <sectionGroup name="spring">
        <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      </sectionGroup>
    </configSections>
    <spring>
      <context type="Spring.Context.Support.XmlApplicationContext, Spring.Core">
        <resource uri="~/Config/spring.slide_1.xml"/>
        <resource uri="~/Config/spring.slide_2.xml"/>
        <resource uri="~/Config/spring.slide_3.xml"/>
        <resource uri="~/Config/spring.slide_4.xml"/>
        <resource uri="~/Config/spring.devices.xml"/>
        <!--<resource uri="~/Config/spring.db.xml"/>-->
        <resource uri="~/Config/spring.ui.xml"/>
      </context>
    </spring>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral"/>
          <bindingRedirect oldVersion="2.0.0.0" newVersion="2.1.1.0"/>
        </dependentAssembly>
      </assemblyBinding>
    </runtime>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>